@import "navigation";
@import "footer-styles";

*{
    box-sizing: border-box;
}

body {
    padding-top: 56px;
    overflow-x:hidden; // Prevent scroll on narrow devices 
}

a{
    text-decoration:none;
}


/* -----------------------------------------------*/
/* ------------Main section styles----------------*/
.main{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto auto auto;
    color: rgb(31, 31, 31);
    background-color: white;
    width: 100vw;
}
  
.article-image{
    width: auto;
}
  
.article-header-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10rem 1fr;
    padding: 1rem;
    background-color: #f2e8df;
}
  
.date{
    display: grid;
    grid-template-rows: 5rem 1rem;
    justify-content: center;
}
  
.day p{
    font: 5rem italic bolder georgia;
    color: #b4acac;
}
  
.month p{
    font-size: 0.8rem;
    color: #d1464b;
    letter-spacing: 1px;
}
  
.article-header{
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  
}
  
.article-title h1{
    font-size: 4rem;
}
  
.article-title{
    margin-bottom: 2rem;
}
  
.sub-header{
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap:1rem;
    padding: 1rem;
}
  
.author-profile img{
    width: 50px;
    border-radius: 250px;
}
  
.author, .category{
    font-size: 0.9rem;
    color: #2d7581;
}
  
.category{
    padding-left:1rem;
    border-left: 1px solid rgb(173, 173, 173);
}
  
/* --------------------------------------------- */
/* --------------Article Body Section----------- */
.article-body{
    display: grid;
    grid-template-columns: 9rem 1fr 9rem;
    grid-template-rows: 1fr;
    padding: 2rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    background-color: white;
}
  
.lead{
    padding: 1rem;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    color:rgb(116, 116, 116)
}
  
.quote{
    padding: 0 2rem;
    margin: 2rem;
    font-style: italic;
    font-size: 1.4rem;
    color:rgb(116, 116, 116);
    border-left: 2px solid #2d7581;
    line-height: 2rem;
}
  
.sub-heading{
    padding:2rem 0;
    font-style: italic;
    font-size: 1.7rem;
    color:#2d7581;
}
  
.more-section{
    background-color: #f2e8df;
    padding-bottom: 4rem;
}
  
.more-section h3{
    font-size: 1.5rem;
    color: #084e58;
    font-weight:normal;
}
  
.card-archive-container{
    border-top:1.2px solid #2d7581;
}

// -------------Recent Stories------------------/
.more-resources{
  background-color: #ffffff;
  padding: 0 5em;
}

.resources-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-top: 1px solid #2d7581;
}

.cont{
  display:grid;
  width: 250px;
  height:auto;
  margin: 2rem;
  // border-radius: 5em;
  &:hover{
      cursor: pointer;
      box-shadow: 0rem 0rem .7rem rgba(0, 0, 0, .6);
  }
}

.cont > *{
  grid-area: 1/1;
}

.overlay{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, .35);
  // padding: 5em 0;
  &:hover{
      background-color: rgba(0, 0, 0, .6);
      border: 2px solid lightgrey;
  }
}

.overlay-text{
  margin: 3rem 2rem;
}

.overlay-text p{
  font-size:13px;
}

.overlay-link a{
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  border: 1.5px solid whitesmoke;
  opacity: 0;
  &:hover{
      border: 1.5px solid whitesmoke;
      opacity: 1;
  }
  &:active{
      background-color: #d1464b;
      border: 1.5px solid #d1464b;
      opacity: 1;
  }
}


/* ----------------Media Queries-------------- */
/* -------------------------------------------- */

// ----------------Extra Large Screens ------------------/
@media (max-width: 1399.98px) {
  .more-resources{
      padding: 3em;
  }

  .cont{
      margin: 1rem;
  }
}

// ----------------Large Screens ------------------/
@media (max-width: 1199.98px) {

  // -------for recent stories------/
  .more-resources{
      padding: 0 1em;
      text-align: center;
  }

  .resources-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      border-top: 1px solid #2d7581;
      padding: 2rem 0rem;
  }

  .cont{
      margin: 1rem;
  }
}

/* --------Medium screens------------------- */
@media (max-width: 991.98px) {
    .article-body{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding: 1rem;
      font-size: 1.1rem;
    }

  // --------for Recent stories------------/
    .more-resources{
      padding: 0 1em;
      text-align: center;
  }

  .resources-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      border-top: 1px solid #2d7581;
  }

  .cont{
      margin: 1rem;
      width: 200px;
      height:auto;
  }    
  // ------------------------------------
    .footer-container{
      padding:1rem;
    }
  
    .footer-links, .right-col{
      margin: 0.5rem;
      margin-top: 1rem;
    }
    
    .footer-links{
      padding-right:2rem;
    }
}

/* --------Tablet screens------------------- */
@media (max-width: 767.98px) {
  .article-header-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .date{
    justify-content: left;
  }

  .date{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    justify-content: left;
  }
  
  .day p, .month p{
    font-size: 0.9rem;
    color: #d1464b;
    letter-spacing: 1px;
  }

  .article-body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    font-size: 1.1rem;
  }

      // ---------recent stories styles--------------/
    .more-resources{
        padding: 0 1em;
        text-align: center;
    }
    
    .resources-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        border-top: 1px solid #2d7581;
    }

    .cont{
        margin: 2rem;
    }
}

/* --------small screens------------------- */
@media (max-width: 575.98px) {
  .article-header-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .date{
    justify-content: left;
  }

  .date{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    justify-content: left;
  }
  
  .day p, .month p{
    font-size: 0.9rem;
    color: #d1464b;
    letter-spacing: 1px;
  }

  .article-body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    font-size: 1.1rem;
  }

    // ----------more features / resources styles
    .cont{
        margin: 1rem;
    }

    .more-resources{
        padding: 1rem;
        text-align: center;
    }
    
    .resources-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        border-top: 1px solid #2d7581;
    }
}